.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
.filter-btn {
  height: 100%;
  border: solid 1px white;
  color: white;
  background-color: black;
  padding: 20px;
  font-size: large;
}
.filter-btn:hover {
  cursor: pointer;
  color: black;
  border: solid 1px black;
  background-color: white;
}
.buttons-wrap {
  display: flex;
}
@media only screen and (max-width: 730px) {
  .header {
    justify-content: center;
  }
}
